/*
body {
    width: 100%;
    margin: auto;
}

div {
    width: 50%;
    height: auto;
}

input {
    display: block;
    margin: 10px auto;
}

div textarea {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px;
    border: 1px solid;
    border-radius: 5px;
}

#view,
#update,
#exit {
    width: 100%;
    margin: 10px;
    height: 30px;
    border-radius: 3px;
    
}*/

